#newName {
    width: 100%
}

a.button {
    position: relative;
    display: inline-block;
    width: 7em;
    height: 1.5em;
    line-height: 1.5em;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 1px #777;
    color: #fff;
    outline: none;
    border: 2px solid #F64C2B;
    border-radius: 5px;
    box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #800;
    background: linear-gradient(#FB9575, #F45A38 48%, #EA1502 52%, #F02F17);
}

    a.button:hover {
        cursor: pointer;
    }

    a.button:active {
        top: .1em;
        left: .1em;
        box-shadow: 0 0 0 60px rgba(0,0,0,.05) inset;
    }

input[type="text"] {
    border: 2.5px solid #cccccc;
    border-radius: 5px;
    background: #ffffff !important;
    outline: none;
    height: 2.0em;
    width: 120px;
    color: #000000;
    font-size: 11px;
    font-family: Tahoma;
}

.editDelete {
    display: inline-block;
    width: 60px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px rgba(255,255,255,.2), 0 -1px rgba(0,0,0,.8);
    outline: none;
    border: none;
    border-radius: 100px;
    background: linear-gradient(#FB9575, #F45A38 48%, #EA1502 52%, #F02F17);
    box-shadow: inset rgba(0,0,0,.6) 0 -2px 5px, inset rgba(252,255,255,.7) 0 2px 5px, rgba(0,0,0,.8) 0 2px 5px -1px;
    color: black;
    user-select: none;
}

    .editDelete:hover {
        color: rgb(0,59,66);
        cursor: pointer;
    }

    .editDelete:active {
        padding-bottom: 1px;
        box-shadow: inset rgba(0,0,0,1) 0 1px 3px, inset rgba(0,0,0,.6) 0 -2px 5px, inset rgba(252,255,255,.7) 0 2px 5px, 0 1px rgba(255,255,255,.08);
        color: rgb(128,207,214);
    }
